[submodule "deps/cosmos-proto"]
	path = deps/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "deps/cosmos-sdk"]
	path = deps/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "deps/ethermint"]
	path = deps/ethermint
	url = https://github.com/evmos/ethermint
[submodule "deps/gogoproto"]
	path = deps/gogoproto
	url = https://github.com/cosmos/gogoproto
[submodule "deps/googleapis"]
	path = deps/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "deps/greenfield"]
	path = deps/greenfield
	url = https://github.com/bnb-chain/greenfield
[submodule "deps/greenfield-common"]
	path = deps/greenfield-common
	url = https://github.com/bnb-chain/greenfield-common
[submodule "deps/greenfield-storage-provider"]
	path = deps/greenfield-storage-provider
	url = https://github.com/bnb-chain/greenfield-storage-provider
